<header>
  <div class="container">
    <a href="../../src/index.html">
      <svg>
        <use href="../../src/assets/svg/icons.svg#logo-mobile"></use>
      </svg>
    </a>
    <button>
      <svg>
        <use href="../../src/assets/svg/icons.svg#hamburger-mobile"></use>
      </svg>
    </button>
    <nav>
      <ul>
        <li><a href="#how-it-works">How It Works</a></li>
        <li><a href="#vegetables">Vegetables</a></li>
        <li><a href="#reviews">Reviews</a></li>
      </ul>
      <a href="#your-order">Shop Now</a>
    </nav>
  </div>
</header>
