<section>
  <div>
    <picture>
      <source />
      <source />
      <source />
      <img src="" alt="" />
    </picture>
  </div>
  <div>
    <div>
      <p>
        To order your <span>vegetable</span> basket, simply follow these
        <span>easy steps</span>
      </p>
      <p>
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
    </div>
    <ol>
      <li>
        <p>
          Just choose <span>the vegetable</span> you want to order by clicking
          on the checkboxes <span>next to it</span>.
        </p>
      </li>
      <li>
        <p>Click on <span>the basket</span> and fill out&nbsp;the form.</p>
      </li>
      <li>
        <p>
          Sit back and relax! Your <span>fresh vegetables</span> basket will be
          delivered.
        </p>
      </li>
    </ol>
  </div>
</section>
