<section>
  <div>
    <h2>Organic <span>Vegetables</span></h2>
    <p>
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul>
      <li>
        <a href="">
          <div>
            <p>Eggplant</p>
            <p>60 USD / kg</p>
          </div>
          <div>
            <picture>
              <source media="(min-width: )" srcset="" />
              <source media="(min-width: )" srcset="" />
              <source media="(min-width: )" srcset="" />
              <img src="" alt="" />
            </picture>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div>
            <p>Leek</p>
            <p>50 USD / kg</p>
          </div>
          <div>
            <picture>
              <source media="(min-width: )" srcset="" />
              <source media="(min-width: )" srcset="" />
              <source media="(min-width: )" srcset="" />
              <img src="" alt="" />
            </picture>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div>
            <p>Mushrooms</p>
            <p>40 USD / kg</p>
          </div>
          <div>
            <picture>
              <source media="(min-width: )" srcset="" />
              <source media="(min-width: )" srcset="" />
              <source media="(min-width: )" srcset="" />
              <img src="" alt="" />
            </picture>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div>
            <p>Corn</p>
            <p>60 USD / kg</p>
          </div>
          <div>
            <picture>
              <source media="(min-width: )" srcset="" />
              <source media="(min-width: )" srcset="" />
              <source media="(min-width: )" srcset="" />
              <img src="" alt="" />
            </picture>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div>
            <p>Sweet Potatoes</p>
            <p>50 USD / kg</p>
          </div>
          <div>
            <picture>
              <source media="(min-width: )" srcset="" />
              <source media="(min-width: )" srcset="" />
              <source media="(min-width: )" srcset="" />
              <img src="" alt="" />
            </picture>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div>
            <p>Carrot</p>
            <p>40 USD / kg</p>
          </div>
          <div>
            <picture>
              <source media="(min-width: )" srcset="" />
              <source media="(min-width: )" srcset="" />
              <source media="(min-width: )" srcset="" />
              <img src="" alt="" />
            </picture>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
