<section id="vegetables" class="section">
  <div class="container">
    <h2>Organic <span>Vegetables</span></h2>
    <p>
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul>
      <li>
        <a href="#your-order">
          <div>
            <p>Eggplant</p>
            <p>60 USD / kg</p>
          </div>
          <div>
            <picture>
              <source
                media="(min-width: 1280px )"
                srcset="
                  ../../src/assets/img/vegetables/eggplant-desktop@1x.png 1x,
                  ../../src/assets/img/vegetables/eggplant-desktop@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px )"
                srcset="
                  ../../src/assets/img/vegetables/eggplant-tablet@1x.png 1x,
                  ../../src/assets/img/vegetables/eggplant-tablet@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../../src/assets/img/vegetables/eggplant-mobile@1x.png 1x,
                  ../../src/assets/img/vegetables/eggplant-mobile@2x.png 2x
                "
              />
              <img
                src="../../src/assets/img/vegetables/eggplant-mobile@1x.png"
                alt="Eggplant"
              />
            </picture>
          </div>
        </a>
      </li>
      <li>
        <a href="#your-order">
          <div>
            <p>Leek</p>
            <p>50 USD / kg</p>
          </div>
          <div>
            <picture>
              <source
                media="(min-width: 1280px )"
                srcset="
                  ../../src/assets/img/vegetables/leek-desktop@1x.png 1x,
                  ../../src/assets/img/vegetables/leek-desktop@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px )"
                srcset="
                  ../../src/assets/img/vegetables/leek-tablet@1x.png 1x,
                  ../../src/assets/img/vegetables/leek-tablet@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../../src/assets/img/vegetables/leek-mobile@1x.png 1x,
                  ../../src/assets/img/vegetables/leek-mobile@2x.png 2x
                "
              />
              <img
                src="../../src/assets/img/vegetables/leek-mobile@1x.png"
                alt="Leek"
              />
            </picture>
          </div>
        </a>
      </li>
      <li>
        <a href="#your-order">
          <div>
            <p>Mushrooms</p>
            <p>40 USD / kg</p>
          </div>
          <div>
            <picture>
              <source
                media="(min-width: 1280px )"
                srcset="
                  ../../src/assets/img/vegetables/mushrooms-desktop@1x.png 1x,
                  ../../src/assets/img/vegetables/mushrooms-desktop@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px )"
                srcset="
                  ../../src/assets/img/vegetables/mushrooms-tablet@1x.png 1x,
                  ../../src/assets/img/vegetables/mushrooms-tablet@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../../src/assets/img/vegetables/mushrooms-mobile@1x.png 1x,
                  ../../src/assets/img/vegetables/mushrooms-mobile@2x.png 2x
                "
              />
              <img
                src="../../src/assets/img/vegetables/mushrooms-mobile@1x.png"
                alt="Mushrooms"
              />
            </picture>
          </div>
        </a>
      </li>
      <li>
        <a href="#your-order">
          <div>
            <p>Corn</p>
            <p>60 USD / kg</p>
          </div>
          <div>
            <picture>
              <source
                media="(min-width: 1280px )"
                srcset="
                  ../../src/assets/img/vegetables/corn-desktop@1x.png 1x,
                  ../../src/assets/img/vegetables/corn-desktop@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px )"
                srcset="
                  ../../src/assets/img/vegetables/corn-tablet@1x.png 1x,
                  ../../src/assets/img/vegetables/corn-tablet@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../../src/assets/img/vegetables/corn-mobile@1x.png 1x,
                  ../../src/assets/img/vegetables/corn-mobile@2x.png 2x
                "
              />
              <img
                src="../../src/assets/img/vegetables/corn-mobile@1x.png"
                alt="Corn"
              />
            </picture>
          </div>
        </a>
      </li>
      <li>
        <a href="#your-order">
          <div>
            <p>Sweet Potatoes</p>
            <p>50 USD / kg</p>
          </div>
          <div>
            <picture>
              <source
                media="(min-width: 1280px )"
                srcset="
                  ../../src/assets/img/vegetables/potatoes-desktop@1x.png 1x,
                  ../../src/assets/img/vegetables/potatoes-desktop@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px )"
                srcset="
                  ../../src/assets/img/vegetables/potatoes-tablet@1x.png 1x,
                  ../../src/assets/img/vegetables/potatoes-tablet@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../../src/assets/img/vegetables/potatoes-mobile@1x.png 1x,
                  ../../src/assets/img/vegetables/potatoes-mobile@2x.png 2x
                "
              />
              <img
                src="../../src/assets/img/vegetables/potatoes-mobile@1x.png"
                alt="Sweet Potatoes"
              />
            </picture>
          </div>
        </a>
      </li>
      <li>
        <a href="#your-order">
          <div>
            <p>Carrot</p>
            <p>40 USD / kg</p>
          </div>
          <div>
            <picture>
              <source
                media="(min-width: 1280px )"
                srcset="
                  ../../src/assets/img/vegetables/carrot-desktop@1x.png 1x,
                  ../../src/assets/img/vegetables/carrot-desktop@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px )"
                srcset="
                  ../../src/assets/img/vegetables/carrot-tablet@1x.png 1x,
                  ../../src/assets/img/vegetables/carrot-tablet@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../../src/assets/img/vegetables/carrot-mobile@1x.png 1x,
                  ../../src/assets/img/vegetables/carrot-mobile@2x.png 2x
                "
              />
              <img
                src="../../src/assets/img/vegetables/carrot-mobile@1x.png"
                alt="Carrot"
              />
            </picture>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
