<section id="your-order" class="section">
  <div class="container">
    <h2>Fresh <span>Harvest</span> Box has got you covered</h2>
    <p>
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <div>
      <div>
        <p>
          Ordering <span>from us</span> is quick and easy! Fill out
          <span>the form</span> below and we will contact you !
        </p>
        <form action="">
          <div>
            <div>
              <label for=""></label>
              <input type="text" />
              <p>Succes!</p>
              <p>Invalid Full Name, try again.</p>
            </div>
            <div>
              <label for=""></label>
              <input type="text" />
              <p>Succes!</p>
              <p>Invalid e-mail, try again.</p>
            </div>
            <label for=""></label>
            <textarea name="" id=""></textarea>
          </div>
          <button>Send</button>
        </form>
      </div>
      <div>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ../../src/assets/img/your-order/your-order-desktop@1x.jpg 1x,
              ../../src/assets/img/your-order/your-order-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../../src/assets/img/your-order/your-order-tablet@1x.jpg 1x,
              ../../src/assets/img/your-order/your-order-tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../../src/assets/img/your-order/your-order-mobile@1x.jpg 1x,
              ../../src/assets/img/your-order/your-order-mobile@2x.jpg 2x
            "
          />
          <img
            src="../../src/assets/img/your-order/your-order-mobile@1x.jpg"
            alt="Your Order"
          />
        </picture>
        <p>Follow us on our social networks:</p>
        <ul>
          <li>
            <a href="https://www.instagram.com/goit.turkiye/">Instagram</a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/"
              >Facebook</a
            >
          </li>
          <li><a href="https://www.youtube.com/@GoITTurkey">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
