<section>
  <div>
    <h2>Fresh <span>Harvest</span> Box has got you covered</h2>
    <p>
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <div>
      <div>
        <p>
          Ordering <span>from us</span> is quick and easy! Fill out
          <span>the form</span> below and we will contact you !
        </p>
        <form action="">
          <div>
            <div>
              <label for=""></label>
              <input type="text" />
              <p>Succes!</p>
              <p>Invalid Full Name, try again.</p>
            </div>
            <div>
              <label for=""></label>
              <input type="text" />
              <p>Succes!</p>
              <p>Invalid e-mail, try again.</p>
            </div>
            <label for=""></label>
            <textarea name="" id=""></textarea>
          </div>
          <button>Send</button>
        </form>
      </div>
      <div>
        <picture>
          <source media="(min-width: )" srcset="" />
          <source media="(min-width: )" srcset="" />
          <source media="(min-width: )" srcset="" />
          <img src="" alt="" />
        </picture>
        <p>Follow us on our social networks:</p>
        <ul>
          <li><a href="">Instagram</a></li>
          <li><a href="">Facebook</a></li>
          <li><a href="">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
