.section {
  padding: 80px 0;
}
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.button {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 32px;
  width: 100%;
  background-color: #7a3145;
  color: #fbfbfb;
  border-radius: 30px;
  border: transparent;
  cursor: pointer;

  transition: background-color 350ms ease-in-out;
}

.button:active {
  background-color: #fbfbfb;
  color: #7a3145;
}

@media only screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    width: 90%;
    max-width: 1400px;
    padding: 0 16px;
  }
  .button:hover,
  .button:focus {
    background-color: #d4bfc4;
    color: #7a3145;
  }
}
