:root {
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scroll-behavior: smooth;

  /*Variables for colors */
  --primary: #576b35;
  --secondary: #7a3145;
  --accent: #d4bfc4;
  --details: #858585;
  --black-text: #141414;
  --white-text: #fbfbfb;
  --transparent: rgba(20, 20, 20, 0.2);
  --success-state: #3cbc81;
  --error-state: #e74a3b;
}
